wossidia-dataset/isebel2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
     This is the minimal schema for ISEBEL story documents.
	Individual institutions must use this schema to provide their stories.
	This schema must not be contaminated with provider-specific stuff.
	@version 2019-05-01
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.isebel.eu/ns/isebel" xmlns="http://www.isebel.eu/ns/isebel"
           elementFormDefault="qualified" xmlns:xml="http://www.w3.org/XML/1998/namespace"
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:datacite="http://datacite.org/schema/kernel-4" vc:minVersion="1.1"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
               schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <xs:import namespace="http://purl.org/dc/elements/1.1/"
               schemaLocation="https://www.dublincore.org/schemas/xmls/qdc/dc.xsd"/>
    <xs:import namespace="http://datacite.org/schema/kernel-4"
               schemaLocation="https://schema.datacite.org/meta/kernel-4/metadata.xsd"/>


    <!-- The story as the only valid XML root element. -->
    <xs:element name="story">
        <xs:complexType>
            <xs:sequence>

                <!-- Globally unique story identifier:
                                          identifier ::= country_id "." repository_id "." local_id
                     country_id ::= "nl" | "de" | "dk" | ...
                     repository_id ::= "etk" | "wossidia" | "verhalenbank" | ...
                     local_id ::= [repository unique story identifier, it's up to the provider]
                -->
                <xs:element ref="dc:identifier"/>

                <!-- PURL for the story in the participant's local repository. -->
                <xs:element name="purl" type="typePurl"/>

                <!-- Story title (multiple titles for different languages). -->
                <xs:element ref="dc:title" minOccurs="0" maxOccurs="unbounded"/>

                <!-- Content genre information (not media type). -->
                <xs:element ref="dc:type" minOccurs="0" maxOccurs="unbounded"/>

                <!-- Tale type information. -->
                <xs:element name="taleTypes" type="typeTaleTypes" minOccurs="0"/>

                <!-- Story text (multiple texts for different languages)? -->
                <xs:element name="contents" type="typeContents"/>

                <!-- Places of any type referenced by story. -->
                <xs:element name="places" type="typePlaces" minOccurs="0"/>

                <!-- Persons of any type referenced by story. -->
                <xs:element name="persons" type="typePersons" minOccurs="0"/>

                <!-- Dates/event of any type referenced by story. -->
                <xs:element name="events" type="typeEvents" minOccurs="0"/>

                <!-- Keywords associated with story. -->
                <xs:element name="keywords" type="typeKeywords" minOccurs="0"/>

                <!-- Arbitrary references for story. -->
                <xs:element name="references" type="typeReferences" minOccurs="0"/>

            </xs:sequence>

            <!-- Internal story ID. -->
            <xs:attribute ref="xml:id" use="required"/>

            <!-- General language for story, can be overridden by sub elements if needed. -->
            <xs:attribute ref="xml:lang" use="required"/>

        </xs:complexType>
    </xs:element>

    <!-- isebel.purl -->
    <xs:simpleType name="typePurl">
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="https?://.+"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- Place roles. -->
    <xs:simpleType name="typePlaceRole">
        <xs:restriction base="xs:string">
            <!-- Content roles. -->
            <xs:enumeration value="action"/>
            <xs:enumeration value="fiction"/>
            <!-- Provenience roles. -->
            <xs:enumeration value="narration"/>
            <xs:enumeration value="contribution"/>
            <xs:enumeration value="recording"/>
            <xs:enumeration value="publication"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- Person roles. -->
    <xs:simpleType name="typePersonRole">
        <xs:restriction base="xs:string">
            <!-- Content roles. -->
            <xs:enumeration value="actor"/>
            <!-- Provenience roles. -->
            <xs:enumeration value="narrator"/>
            <xs:enumeration value="contributor"/>
            <xs:enumeration value="scholar"/>
            <xs:enumeration value="collector"/>
            <xs:enumeration value="observer"/>
            <xs:enumeration value="informant"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- Event roles. -->
    <xs:simpleType name="typeEventRole">
        <xs:restriction base="xs:string">
            <!-- Content role types. -->
            <xs:enumeration value="action"/>
            <!-- Provenience role types. -->
            <xs:enumeration value="narration"/>
            <xs:enumeration value="contribution"/>
            <xs:enumeration value="collection"/>
            <xs:enumeration value="observation"/>
            <xs:enumeration value="recording"/>
            <xs:enumeration value="publication"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- Container type for all tale types. -->
    <xs:complexType name="typeTaleTypes">
        <xs:sequence>
            <xs:element name="taleType" type="typeTaleType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Container type for all story texts. -->
    <xs:complexType name="typeContents">
        <xs:sequence>
            <xs:element name="content" type="typeContent" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Container type for all places. -->
    <xs:complexType name="typePlaces">
        <xs:sequence>
            <xs:element name="place" type="typePlace" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Container type for all persons. -->
    <xs:complexType name="typePersons">
        <xs:sequence>
            <xs:element name="person" type="typePerson" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Container type for all events. -->
    <xs:complexType name="typeEvents">
        <xs:sequence>
            <xs:element name="event" type="typeEvent" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Container type for all keywords. -->
    <xs:complexType name="typeKeywords">
        <xs:sequence>
            <xs:element name="keyword" type="typeKeyword" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Container type for all references. -->
    <xs:complexType name="typeReferences">
        <xs:sequence>
            <xs:element name="reference" type="dc:SimpleLiteral" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Tale type type. -->
    <xs:complexType name="typeTaleType">
        <xs:attribute name="number" type="xs:string" use="required"/>
        <xs:attribute name="title" type="xs:string"/>
    </xs:complexType>


    <!-- Story text. -->
    <xs:complexType name="typeContent" mixed="true">
        <xs:attribute ref="xml:lang" use="required"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>


    <!-- Simple place with a name and optional coordinates. -->
    <xs:complexType name="typePlaceSimple">
        <xs:sequence>
            <xs:element ref="dc:title" maxOccurs="unbounded"/>
            <xs:element name="point" type="datacite:point" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute ref="xml:lang"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>


    <!-- Place with a name, optional coordinates, and a role. -->
    <xs:complexType name="typePlace">
        <xs:sequence>
            <xs:element ref="dc:title" maxOccurs="unbounded"/>
            <xs:element name="point" type="datacite:point" minOccurs="0"/>
            <xs:element name="role" type="typePlaceRole" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="xml:lang"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>


    <!-- Person. -->
    <xs:complexType name="typePerson">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="gender" minOccurs="0" type="xs:string"/>
            <xs:element name="role" type="typePersonRole" maxOccurs="unbounded"/>
            <xs:element name="profession" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="birthDate" type="xs:date" minOccurs="0"/>
            <xs:element name="birthPlace" type="typePlaceSimple" minOccurs="0"/>
            <xs:element name="deathDate" type="xs:date" minOccurs="0"/>
            <xs:element name="deathPlace" type="typePlaceSimple" minOccurs="0"/>
            <xs:element name="livingPlace" type="typePlaceSimple" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="xml:lang"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>


    <!-- Named event or date or duration. -->
    <xs:complexType name="typeEvent">
        <xs:sequence maxOccurs="unbounded">
            <xs:element ref="dc:title" minOccurs="0"/>
            <xs:element name="date" type="xs:date" minOccurs="0"/>
            <xs:element name="thru" type="xs:date" minOccurs="0"/>
            <xs:element name="role" type="typeEventRole" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="xml:lang"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>


    <!-- Keyword. -->
    <xs:complexType name="typeKeyword">
        <xs:simpleContent>
            <xs:extension base="xs:NMTOKEN">
                <xs:attribute ref="xml:lang"/>
                <xs:attribute name="id" type="xs:string"/>
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="provenance" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
